@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the weather app</h1>
    <p>You can see the weather of different cities around the world here</p>
</div>
